<%- include('partials/header.ejs') %>
    </head>
    <body>
        <div>
            <h1>All the Questions</h1>
            <label>Create A Question!</label>
            <a href="/question/create">
                <button>New Question</button>
            </a>
            <br><br>
        </div>
        <table id="questionTable">
            <tr>
                <th>Language</th>
                <th>Topic</th>
                <th>Quesion</th>
                <th>Ratio</th>
                <th>Options</th>
            </tr>
            <% Questions.forEach(function(quest) { %>
                <input type="hidden" name="id" class="id" value="<%= quest._id %>">
                <tr>
                    <th><%= quest.language %></th>
                    <th><%= quest.topic %></th>
                    <th><%= quest.question %></th>
                    <th><%= quest.correct %>/<%= quest.attempts %> = <%= (quest.correct / quest.attempts) * 100 %>%</th>
                    <th>
                        <form action="/question/edit" method="POST">
                            <button id="quest" class="quest" name="quest" value="<%= quest._id %>">Edit</button>
                        </form>
                        <form action="/question/delete" method="POST">
                            <button id="item" class="item" name="item" value="<%= quest._id %>">Delete</button>
                        </form>
                    </th>                    
                </tr>
            <% }); %>   
        </table>
    </body>
</html>