<%- include('partials/header.ejs') %>
    </head>
    <body>
        <div id="builder">
            <h1>Delete This Question?</h1>
            <a href="/question">
                <butto id="return">Return</button>
             </a>
             <br><br>
        </div>
        <div id="deleteWindow">
            <label>Language: <%= Question.language %></label>
        </div>
        <br>
        <div id="deleteWindow">
            <label>Topic: <%= Question.topic %></label>
            <br>
        </div>
        <br>
        <div id="deleteWindow">
            <label>Question:</label>
            <br>
            <label class="longText"><%= Question.question %></label>
        </div>    
        <br>
        <div id="deleteWindow">
            <label>Explanation!</label>
            <br>
            <label class="longText"><%= Question.explanation %></label>
        </div>
        <br>
        <div id="deleteWindow">
            <label>Choices:</label>
            <br>
            <label><%= Question.choices[0] %></label><br>
            <label><%= Question.choices[1] %></label><br>
            <label><%= Question.choices[2] %></label><br>
            <label><%= Question.choices[3] %></label><br>
        </div>
        <br>
        <div id="deleteWindow">
            <label>Answer:</label>
            <br>
            <label><%= Question.answer %></label>
        </div>
        <br>
        <form action="/question/delete/<%= Question._id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_METHOD" value="DELETE">
            <input type="hidden" name="id" value="<%= Question._id %>">
            <div id="btnQuest">
                <button id="submitQuest">Delete</button>
            </div>
        </form>
    </body>
    <%- include('partials/footer.ejs') %>
</html>