<%- include('partials/header.ejs') %>
        <script>
            $(document).ready(function() {
                $("#topic").on('change', function() {
                    if ($("#topic").val() == "new") {
                        $("#addTopic").css('display', 'block');
                        $("#newTopic").prop('required', true);
                    } else {
                        $("#addTopic").css('display', 'none');
                        $("#newTopic").val('');
                        $("#newTopic").prop('required', false);
                    }
                }); // Adding a new topic

                $("#language").on('change', function() {
                    if ($("#language").val() == "new") {
                        $("#addLanguage").css('display', 'block');
                        $("#newLanguage").prop('required', true);
                    } else {
                        $("#addLanguage").css('display', 'none');
                        $("#newLanguage").val('');
                        $("#newLanguage").prop('required', false);
                    }
                }); // Adding a new language

            }); // document.ready
        </script>
    </head>
    <body>
        <div id="builder">
            <h1>Edit the Question?</h1>
            <a href="/question">
                <butto id="return">Return</button>
             </a>
             <br><br>
        </div>
        <form action="/question/edit/<%= Question._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_METHOD" value="PUT">
            <input type="hidden" name="id" value="<%= Question._id %>">
            <div>
                <label>Select the Language</label>
                <select id="language" name="language" required>
                    <option value="new">Add New Language</option>
                    <% CurrentLangs.forEach(function(lang) { %>
                        <% if (Question.language == lang) { %>
                            <option selected value="<%= lang %>"><%= lang %></option>
                        <% } else { %>
                            <option value="<%= lang %>"><%= lang %></option>
                        <% } %>
                    <% }); %> 
                </select>
            </div>
            <div id="addLanguage" style="display: none;">
                <br>
                <label>Please enter the new Language! </label>
                <br>
                <textarea id="newLanguage" name="newLanguage" rows="1" cols="30" maxlength="20" placeholder="Enter new language..."></textarea>
                <br>
                <label>(limit 20 characters)</label>
            </div>
            <br>
            <div>
                <label>Select the Topic</label>
                <select id="topic" name="topic" required>
                    <option value="new">Add New Topic</option>
                    <% CurrentTopics.forEach(function(topic) { %>
                        <% if (Question.topic == topic) { %>
                            <option selected value="<%= topic %>"><%= topic %></option>
                        <% } else { %>
                            <option value="<%= topic %>"><%= topic %></option>
                        <% } %>
                    <% }); %>             
                </select>
                <br>
            </div>
            <div id="addTopic" style="display: none;">
                <br>
                <label>Please enter the new Topic!</label>
                <br>
                <textarea id="newTopic" name="newTopic" rows="1" cols="30" maxlength="20" placeholder="Enter new topic..."></textarea>
                <br>
                <label>(limit 20 characters)</label>
            </div>
            <br>
            <div>
                <label>Please enter the question below!</label>
                <br>
                <div>
                    <textarea id="question" name="question" rows="5" cols="60" required><%= Question.question %></textarea>
                </div>
            </div>    
            <br>
            <div>
                <label>Please enter the answer explanation!</label>
                <br>
                <div>
                    <textarea id="explanation" name="explanation" rows="5" cols="60" required><%= Question.explanation %></textarea>
                </div>
            </div>
            <br>
            <% var place = 0 %>
            <% var answerPlace = "f" %>
            <% Choices.forEach(function(choice) { %>
                <div>
                    <label>Enter answer <%= choice %>!</label>
                    <br>
                    <div>
                        <input value="<%= Question.choices[place] %>" id="choice<%= choice %>" name="choice<%= choice %>" size="60" required pattern="\S(.*\S)?" title="Only whitepace in between words">
                    </div>
                </div>
                <br>
                <% if (Question.choices[place] == Question.answer) { %>
                    <% answerPlace = choice %>
                <% } %>
                <% place += 1 %>
            <% }); %>
            <% var answerChoice = 0 %>
            <div>
                <label>Please select the answer choice:</label>
                <br>
                <% Choices.forEach(function(choice) { %>
                    <% if (answerPlace == choice ) { %>
                        <input checked type="radio" id="<%= choice %>" name="answer" value="<%= answerChoice %>" required>
                    <% } else { %>
                        <input type="radio" id="<%= choice %>" name="answer" value="<%= answerChoice %>" required>
                    <% } %>
                    <label for="<%= choice %>">Answer <%= choice %></label><br>
                    <% answerChoice += 1 %>
                <% }); %>
            </div>
            <br>
            <div id="btnQuest">
                <button id="submitQuest">Submit</button>
            </div>
        </form>
    </body>
    <%- include('partials/footer.ejs') %>
</html>