<%- include('partials/header.ejs') %>
    </head>
    <body>
        <h1 style="color:rgb(194, 194, 194)">Account Information</h1><br>
        <h2><%= user.firstName %> <%= user.lastName %></h2>
        <h3>@<%= user.username %></h3><br>
        <h2>Change Password: </h2>
        <p>Password must be 8 characters or greater</p>
        <form action="/users" method="POST">
            <div class="input-label">
                <label for="updatePass">New Password: <br></label>
                <input class="input-box" type="password" id="updatePass" name="updatePass" placeholder="New Password" pattern=".{8,}" required>
                <br>
                <label for="confirmNew">Re Enter New Password: <br></label> 
                <input class="input-box" type="password" id="confirmNew" name="confirmNew" placeholder="Re Enter Password" pattern=".{8,}" required>
                <br>
            </div><br>
            <button class="start-btn">Update Password</button>
        </form>
        <%if(update){%>
            <h1 class="centerText" style="color: #222;">Password Updated!</h1>
            <%}%>
        <%if(!passMatch){%>
            <h1 class="centerText" style="color: #222;">Passwords Do Not Match</h1>
            <%}%>    
    </body>    
    <%- include('partials/footer.ejs') %>
</html>